<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ post.title }}</title>
  <meta name="description" content="{{ post.description }}" />
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{ post.title }}" />
  <meta property="twitter:description" content="{{ post.description }}" />
  <meta name="twitter:image:src" content="{{ post.image }}">
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:description" content="{{ post.description }}" />
  <meta property="og:image" content="{{ post.image }}" />
</head>
<body></body>
</html>
